.custom-text{
    color: #FB586A !important;
    
}
.custom-background{
    background-color: #1f1f1f;
}
.custom-hover{
    background-color: #2c2c2c;
}
.custom-hover:hover{
    background-color: #3a3a3a;
}
.pointer{
    cursor: pointer;
}

@media screen and (max-width: 991px){
    .custom-position{
        background-color: #2c2c2c;
        width: 97% !important;
        position: fixed;
        bottom: 0;
         z-index: 1001;/* il carousel ha z index 1000*/
        border-radius: 8px;
}


}

@media screen and (min-width: 992px){
    .custom-position{
        padding: 0;
        background-color: #2c2c2c;
        position: fixed;
        top: 0;
        z-index: 1001;/* il carousel ha z index 1000*/
    } 
}


.custom-sticky{
    position: sticky !important;
    top: 0 !important;
}